* {
    box-sizing: border-box;
}

html {
    font-family: 'Baloo Bhaijaan 2', cursive;
}

h1 {
    margin-top: 30px;
    text-align: center;
}

body {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 200px;

    text-align: center;
    padding-top: 20px;
}
.wrapper {
    padding-left: 1em;
    padding-right: 1em;
}
.header {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-color: whitesmoke;
    text-align: center;
padding: 40px;
    
}


.home {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-content: flex-start;
   margin: 10px auto;
    background-color: rgb(255, 255, 255);}

.portfolio {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin: 10px auto;
    background-color:rgb(255, 255, 255);}

.contact {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin: 10px auto;
    background-color: rgb(255, 255, 255);
}   
 .image {
    max-width: 95%; 
  }
  .image-1 {
     display: inline-block;
     position: center;
     border-style: hidden;
     max-width: 70%;
     margin-top:20px;
  }
footer {
    border: hidden;
    text-align:center;
    background-color: whitesmoke;
    padding:30px 10px 0 10px;
    margin-top:30px;
}
.footer {
    display: flex;
    flex-direction:row; 
    flex-wrap: wrap;
    justify-content: space-between;  
    border-top: solid #cecece;
    padding: auto;
} 

/* Media Queries */
@media only screen and (min-width: 768px) {
    .nav {
        display:inline-flex;
        flex-direction: row;
        -ms-flex-item-align: auto;
        justify-content: space-around;
        align-items:center;
}
    
    .wrapper {
        width: 90%;
    margin: 0 auto;
    max-width: 1000px;

    }
    .container {     
      display: flex; 
      flex-direction: row-reverse;
      max-width:1000px;
      -ms-flex-pack:distribute;
      justify-content: space-around;
      align-items: center;
      
    }

    .image-1{
      width: 400px;
      height:200px;
      padding: 0 15px 50px 25px;

    }
.portfolio-main {
    display:flex;
    flex-wrap: wrap;
    
}
.port-1, .port-2, .port-3, .port-4, .port-5, .port-6 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    
   
    
}



@media only screen and (min-width: 1024px) {

   
