* {
    box-sizing: border-box;
}
ul {
    list-style:none;
    padding-left: 0;
  }
html {
    font-family: 'Baloo Bhaijaan 2', cursive;
}

h1 {
    margin-top: 30px;
    margin-bottom:0;
    text-align: center;
}
h2 {
    color:rgb(92, 90, 90);
}
h3 {
    color:rgb(92, 90, 90);
}
p {
    color: rgb(148, 148, 148);
}
a {
    color:rgb(92, 90, 90);
    text-decoration: none;

}

body {
    max-width:1024px;
    margin:0 auto;
    text-align:center;
}

.header {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-color: whitesmoke;
    text-align: center;
    padding: 40px 20px;
    color:rgb(92, 90, 90);
}
.container {
    background-color: whitesmoke;
}
.portfolio-main {
    text-align: center;
}

.home {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-content: flex-start;
   margin: 10px auto;
    background-color: rgb(255, 255, 255);}

.portfolio {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin: 10px auto;
    background-color:rgb(255, 255, 255);}

.contact {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin: 10px auto;
    background-color: rgb(255, 255, 255);
}  

.skills {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-content: flex-start;
   margin: 10px auto;
    background-color: rgb(255, 255, 255);


}
 .image {
    max-width: 95%; 
  }
  .image-1 {
     display: inline-block;
     position: center;
     border-style: hidden;
     max-width: 70%;
     margin-top:20px;
  }
footer {
    
    border: hidden;
    text-align:center;
    background-color: whitesmoke;
    padding:30px 30px 0 30px;
    margin-top:30px 20px 0 20px;
}
.footer {
    display: flex;
    flex-direction:row;  
    flex-wrap: wrap;
    justify-content: space-between;  
    border-top: solid #cecece;
    
} 

/* Media Queries */
@media only screen and (min-width: 768px) {
    .nav {
        display: flex;
        flex-direction: row;
      -ms-flex-item-align: auto;
        justify-content: space-around;
        align-items:center;
        margin: 0 100px 0 80px;
    
       
}
.home, .portfolio, .contact, .skills {

background-color: transparent;
}
    
    .wrapper {
        width: 90%;
    margin: 0 auto;
    max-width: 1000px;

    }
    .container {     
      display: flex; 
      flex-direction: row-reverse;
      max-width:1000px;
      -ms-flex-pack:distribute;
      justify-content: space-around;
      align-items: center;
      
    }

    .image-1{
      width: 350px;
      height:275px;
      padding: 0 15px 50px 25px;

    }
.portfolio-main {
    display:flex;
    flex-wrap: wrap;
    text-align:center;
   justify-content: space-between;
    

    
}
.port-1, .port-2, .port-3, .port-4, .port-5, .port-6 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    text-align: center;
    
    justify-content: center;
    padding: auto;
   
    
}
.port-6 {
    padding: 0 0 15px 0;

}
h2 {
    margin: 10px 20px;
    color:rgb(92, 90, 90)
}
p {
    margin: 0 20px 30px 20px;
    color:rgb(148, 148, 148);
}
}
@media only screen and (min-width: 1024px) {

    .header {
        flex-direction: row;
        align-items: center;
      }
      
      .header h1 {
        margin-top: 15px;
      }
      
      .header li {
        margin: 10px;
      }
      
      .nav {
        margin: unset
      }

      .port-1, .port-2, .port-3, .port-4, .port-5, .port-6 {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 33.333%;
        text-align: center; 
        justify-content: center;
        padding: auto;}
       

    }